footer {
            background-color: #000;
            padding: 60px 20px;
            text-align: center;
            border-top: 1px solid #333;
        }

        .sourcing-form {
            max-width: 600px;
            margin: 0 auto;
            background: #222;
            padding: 40px;
            border-radius: 10px;
        }

        .sourcing-form input, .sourcing-form textarea {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            background: #111;
            border: 1px solid #444;
            color: white;
            border-radius: 5px;
        }

        .btn-submit {
            background-color: var(--accent-beige);
            color: black;
            border: none;
            padding: 15px 30px;
            font-weight: bold;
            cursor: pointer;
            width: 100%;
            margin-top: 20px;
            text-transform: uppercase;
        }footer {
    background-color: #000;
    padding: 60px 20px;
    text-align: center; /* Isso vai centralizar o texto e o logo */
    border-top: 1px solid #333;
    margin-top: 50px;

}/* Botão de Idioma */
.lang-btn { 
    background: transparent; 
    border: 1px solid var(--accent-beige); 
    color: var(--accent-beige); 
    padding: 8px 15px; 
    cursor: pointer; 
    font-size: 9px; 
    letter-spacing: 1px; 
    text-transform: uppercase;
    transition: 0.3s;
    margin-right: 15px;
}
.lang-btn:hover {
    background: var(--accent-beige);
    color: black;
}
.header-actions { display: flex; align-items: center; }
